@import "helpers";
@import "fonts";

/* Variables */
$font-montserrat: 'Montserrat', sans-serif;
$font-droidsans: 'Droid Sans', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$color-wood: #ede3d9;
$color-wood-invert: invert($color-wood);
$color-marble: #9597a1;
$color-fern: #a2b1a6;
$color-forest: #c0ccbb;

$base-font: $font-montserrat;
$base-font-size: 1.5vw;
$base-space-between: 1vw;

$tile-transition-duration: 75ms;

$tile-background: lighten($color-wood, 2%);
$tile-color: darken($tile-background, 75%);
$tile-size: 9vw;
$tile-font-size: $tile-size * 0.45;
$tile-border-width: 4px;
$tile-border-radius: 6px;
$tile-space-between: $base-space-between * 2;
$tile-hover-background: darken($tile-background, 5%);
$tile-hover-border-color: darken($tile-background, 25%);
$tile-hover-font-size: $tile-font-size * 1.15;
$tile-active-background: lighten(invert($tile-color), 10%);

$operator-font: 'Times New Roman';
$operator-font-weight: 900;
$operator-size: 4.62vw;
$operator-color: #879093;
$operator-space-between: $base-space-between / 2;

$equals-sign-margin: 3.11vw;

$footer-margin: 0.77778rem;
$footer-item-padding: 0.38889vw;
$footer-item-color: #707070;
$footer-details-padding: 1.928vw;
$facebook-blue: #3B5998;
$twitter-blue: #55ACEE;
$google-red: #DD4B39;

$title-size: 3.25vw;

html {
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: $base-font;
}

.title {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

h1 {
  font-size: $title-size;
  color: $tile-color;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  margin-bottom: 0;
}

h3 {
  font-size: #{$title-size * 0.5};
  margin: 0.5rem;
  color: lighten($tile-color, 5%);
}

section.instructions {
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 1.3rem;
  word-spacing: 0.08rem;
  color: lighten($tile-color, 10%);
  background: lighten($tile-background, 0%);
  padding: 10px 50px;
  border-radius: 8px;
  margin-bottom: 7vh;

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

section.instructions + section.game {
  margin-top: 3rem;
  padding: 1rem;
}

section.game {
  font-family: $font-droidsans;
  background: lighten($tile-background, 20%);
  padding: 1.43rem;
  border-radius: $tile-border-radius;
}

code {
  padding: 2px 4px;
  font-size: inherit;
  color: $tile-color;
  border-radius: 4px;
  @include space-between($base-space-between / 4);
}

.drop-container {
  position: relative;
}

@mixin tile($background-color: initial, $hover-background-color: $background-color, $color: initial, $width: initial, $height: initial, $margin: initial, $border: initial, $border-radius: initial, $font-size: inherit, $font-family: inherit, $font-weight: inherit, $hover-border: initial, $hover-color: initial) {
  position: relative;
  font-size: $font-size;
  cursor: pointer;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $color;
  width: $width;
  height: $height;
  margin: $margin;
  border: $border;
  border-radius: $border-radius;
  background-color: $background-color;
  transition: background-color $tile-transition-duration ease-out;
  transition: font-size $tile-transition-duration ease-in-out;
}

@mixin tile-inner($background-color, $color) {
  @include center-via-transform-translate();
  font-size: inherit;
  font-weight: inherit;
  background-color: $background-color;
  color: $color;
  transition: inherit;
}
.parenthesis-tile {
  @include tile(
  $font-size: $tile-font-size,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $width: 2rem,
  $height: $tile-size,
  $margin: $operator-space-between,
  $border-radius: 35%,
  $hover-color: darken(#879093, 25%)
  );


  .parenthesis {
    @include tile-inner(
    $background-color: transparent,
    $color: $tile-color
    );
    cursor: default;
  }
}

.operator-tile {
  @include tile(
  $font-size: $tile-font-size,
  $font-family: $operator-font,
  $font-weight: $operator-font-weight,
  $color: $operator-color,
  $width: $operator-size,
  $height: $operator-size,
  $margin: $operator-space-between,
  $border: $tile-border-width dashed transparent,
  $border-radius: 50%
  );

  .operator {
    @include tile-inner(
    $background-color: transparent,
    $color: $tile-color
    );
  }

  &.operator-hover {
    .operator {
      font-size: $tile-hover-font-size;
      color: inherit;
    }
    background-color: lighten(#879093, 30%);
    color: darken(#879093, 25%);
    border: $tile-border-width dashed lighten(#879093, 15%);
  }

  &:active {
    background: lighten(#879093, 15%);
    border: $tile-border-width dashed lighten(#879093, 0%);

    .operator {
      font-size: $tile-hover-font-size * 1.2;
    }
  }
}

.number-tile {
  @include space-between($tile-space-between);
  @include tile(
  $background-color: $tile-background,
  $hover-background-color: $tile-hover-background,
  $font-size: $tile-font-size,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $width: $tile-size,
  $height: $tile-size,
  $margin: $operator-space-between,
  $border: $tile-border-width dashed transparent,
  $border-radius: $tile-border-radius,
  $hover-border: $tile-border-width dashed $tile-hover-border-color,
  $hover-color: $tile-color
  );

  .number {
    @include tile-inner(
    $background-color: transparent,
    $color: inherit
    );
  }

  &.swappable {
    background-color: $tile-active-background;
    border: $tile-border-width dashed darken($tile-active-background, 25%);
    color: darken($tile-active-background, 70%);
  }

  &.enclosable {
    background-color: $color-forest;
    border: $tile-border-width dashed darken($color-forest, 25%);
    color: darken($color-forest, 70%);
  }
}

.equal-sign {
  @include tile(
  $background-color: transparent,
  $font-size: $tile-font-size * 1.2,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $height: $tile-size,
  $margin: $equals-sign-margin,
  $hover-color: $tile-color
  );

  margin-right: #{$equals-sign-margin/2};

  .equals {
    @include center-via-transform-translate();
  }
}

.result-display {
  @include tile(
  $background-color: transparent,
  $font-size: $tile-font-size * 1.2,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $margin: #{$equals-sign-margin/2},
  $hover-color: $tile-color
  );

  // Keeps the entire game from shifting around as the size of the result changes
  // width: 5rem;
}

.footer {
  font-weight: 300;
  margin: $footer-margin;
  .footer-item {
    text-transform: lowercase;
    letter-spacing: 0px;
    color: $footer-item-color;
    &:hover {
      font-weight: 300;
      color: darken($footer-item-color, 75%);
      border-bottom: 1px dotted;
    }
  }
  .divider {
    color: lighten($footer-item-color, 25%);
    padding-left: $footer-item-padding;
    padding-right: $footer-item-padding;
  }
  .footer-details {
    font-size: ($base-font-size * 0.95);
    color: darken($footer-item-color, 10%);
  }

  section {
    a {
      text-decoration: none;
      color: $footer-item-color;
      &:hover {
        color: darken($footer-item-color, 75%);
        border-bottom: 1px dotted;
      }
    }

    #fbShare {
      &:hover {
        color: $facebook-blue;
        font-weight: 300;
        border-bottom: 1px dotted $facebook-blue;
      }
    }
    #twitterShare {
      &:hover {
        color: $twitter-blue;
        font-weight: 300;
        border-bottom: 1px dotted $twitter-blue;
      }
    }
    #googleShare {
      &:hover {
        color: $google-red;
        font-weight: 300;
        border-bottom: 1px dotted $google-red;
      }
    }
  }
}
