@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Sans:700,400,600,800);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
.debug {
  border: 1px solid magenta !important; }

.flexible {
  display: -webkit-flex;
  display: flex; }
  .flexible.rows {
    -webkit-flex-direction: row;
    flex-direction: row; }
  .flexible.columns {
    -webkit-flex-direction: column;
    flex-direction: column; }
  .flexible.horizontally-centered {
    -webkit-align-items: center;
    align-items: center; }
  .flexible.vertically-centered {
    -webkit-justify-content: center;
    justify-content: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center-block {
  margin: 0 auto; }

.centered {
  text-align: center; }

.marginless {
  margin: 0; }

.paddingless {
  padding: 0; }

/* http://stackoverflow.com/a/6900392 */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.default-cursor {
  cursor: default; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.larger {
  font-size: 150%; }

.large {
  font-size: 125%; }

/* Variables */
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 4rem;
  color: #37291a;
  letter-spacing: 0.3rem;
  word-spacing: 1rem; }

section.instructions {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  word-spacing: 0.08rem;
  color: #5a422b;
  background: #f0e8e0;
  padding: 10px 50px;
  border-radius: 8px; }
  section.instructions p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }

section.instructions + section.game {
  margin-top: 3rem;
  padding: 1rem; }

section.game {
  font-family: "Droid Sans", sans-serif;
  background: white;
  padding: 1.43rem;
  border-radius: 6px; }

code {
  padding: 2px 4px;
  font-size: inherit;
  color: #37291a;
  border-radius: 4px;
  margin-left: 0.125rem;
  margin-right: 0.125rem; }
  code:first-child {
    margin-left: 0; }
  code:last-child {
    margin-right: 0; }

.drop-container {
  position: relative; }

.parenthesis-tile {
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: initial;
  width: 2rem;
  height: 10rem;
  margin: 0.5rem;
  border: initial;
  border-radius: 35%;
  background-color: initial;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .parenthesis-tile:hover {
    background-color: initial;
    color: #494f51;
    border: initial; }
  .parenthesis-tile .parenthesis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: #37291a;
    transition: inherit;
    cursor: default; }

.operator-tile {
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #879093;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border: 4px dashed transparent;
  border-radius: 50%;
  background-color: initial;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .operator-tile:hover {
    background-color: #d8dadb;
    color: #494f51;
    border: 4px dashed #afb5b7; }
  .operator-tile .operator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: #37291a;
    transition: inherit; }
  .operator-tile:hover .operator {
    font-size: 5.175rem;
    color: inherit; }
  .operator-tile:active {
    background: #afb5b7;
    border: 4px dashed #879093; }
    .operator-tile:active .operator {
      font-size: 6.21rem; }

.number-tile {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  border: 4px dashed transparent;
  border-radius: 6px;
  background-color: #f0e8e0;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .number-tile:first-child {
    margin-left: 0; }
  .number-tile:last-child {
    margin-right: 0; }
  .number-tile:hover {
    background-color: #e8dbcf;
    color: #37291a;
    border: 4px dashed #c7a889; }
  .number-tile .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    transition: inherit; }
  .number-tile:hover .number {
    font-size: 5.175rem;
    color: inherit; }
  .number-tile.swappable {
    background-color: #ebf0f5;
    border: 4px dashed #94afcc;
    color: #273d54; }
  .number-tile.enclosable {
    background-color: #c0ccbb;
    border: 4px dashed #7d9572;
    color: #10130f; }

.equal-sign {
  position: relative;
  font-size: 5.4rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: 10rem;
  margin: 4.5rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .equal-sign:hover {
    background-color: transparent;
    color: #37291a;
    border: initial; }
  .equal-sign .equals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.result-display {
  position: relative;
  font-size: 5.4rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: 10rem;
  margin: 2rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .result-display:hover {
    background-color: transparent;
    color: #37291a;
    border: initial; }
  .result-display .result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

/*# sourceMappingURL=site.css.map */
