@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Sans:700,400,600,800);
/* line 1, helpers.scss */
.debug {
  border: 1px solid magenta !important;
}

/* line 5, helpers.scss */
.flexible {
  display: -webkit-flex;
  display: flex;
}
/* line 9, helpers.scss */
.flexible.rows {
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 14, helpers.scss */
.flexible.columns {
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 19, helpers.scss */
.flexible.horizontally-centered {
  -webkit-align-items: center;
  align-items: center;
}
/* line 24, helpers.scss */
.flexible.vertically-centered {
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 30, helpers.scss */
.pull-left {
  float: left;
}

/* line 34, helpers.scss */
.pull-right {
  float: right;
}

/* line 38, helpers.scss */
.center-block {
  margin: 0 auto;
}

/* line 42, helpers.scss */
.centered {
  text-align: center;
}

/* line 46, helpers.scss */
.marginless {
  margin: 0;
}

/* line 50, helpers.scss */
.paddingless {
  padding: 0;
}

/* http://stackoverflow.com/a/6900392 */
/* line 55, helpers.scss */
.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/* line 65, helpers.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 69, helpers.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 73, helpers.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 77, helpers.scss */
.larger {
  font-size: 150%;
}

/* line 81, helpers.scss */
.large {
  font-size: 125%;
}

/* Variables */
/* line 35, site.scss */
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

/* line 40, site.scss */
body {
  font-family: "Montserrat", sans-serif;
}

/* line 44, site.scss */
h1 {
  font-size: 4rem;
  color: #37291a;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
}

/* line 51, site.scss */
section.instructions {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  word-spacing: 0.08rem;
  color: #5a422b;
  background: #f0e8e0;
  padding: 10px 50px;
  border-radius: 8px;
}
/* line 61, site.scss */
section.instructions p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 67, site.scss */
section.instructions + section.game {
  margin-top: 3rem;
  padding: 1rem;
}

/* line 72, site.scss */
section.game {
  font-family: "Droid Sans", sans-serif;
  background: white;
  padding: 1.43rem;
  border-radius: 6px;
}

/* line 79, site.scss */
code {
  padding: 2px 4px;
  font-size: inherit;
  color: #37291a;
  border-radius: 4px;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
/* line 96, helpers.scss */
code:first-child {
  margin-left: 0;
}
/* line 100, helpers.scss */
code:last-child {
  margin-right: 0;
}

/* line 87, site.scss */
.drop-container {
  position: relative;
}

/* line 91, site.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 132, site.scss */
.operator-tile {
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #879093;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border: 4px dashed transparent;
  border-radius: 50%;
  background-color: initial;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
}
/* line 116, site.scss */
.operator-tile:hover {
  background-color: #d8dadb;
  color: #494f51;
  border: 4px dashed #afb5b7;
}
/* line 147, site.scss */
.operator-tile .operator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: #37291a;
  transition: inherit;
}
/* line 154, site.scss */
.operator-tile:hover .operator {
  font-size: 5.175rem;
  color: inherit;
}
/* line 159, site.scss */
.operator-tile:active {
  background: #afb5b7;
  border: 4px dashed #879093;
}
/* line 163, site.scss */
.operator-tile:active .operator {
  font-size: 6.21rem;
}

/* line 169, site.scss */
.number-tile {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  border: 4px dashed transparent;
  border-radius: 6px;
  background-color: #f0e8e0;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
}
/* line 96, helpers.scss */
.number-tile:first-child {
  margin-left: 0;
}
/* line 100, helpers.scss */
.number-tile:last-child {
  margin-right: 0;
}
/* line 116, site.scss */
.number-tile:hover {
  background-color: #e8dbcf;
  color: #37291a;
  border: 4px dashed #c7a889;
}
/* line 186, site.scss */
.number-tile .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: inherit;
  transition: inherit;
}
/* line 193, site.scss */
.number-tile:hover .number {
  font-size: 5.175rem;
  color: inherit;
}
/* line 198, site.scss */
.number-tile.selected {
  background-color: #ebf0f5;
  border: 4px dashed #94afcc;
  color: #273d54;
}
/* line 204, site.scss */
.number-tile.swappable {
  background-color: #c0ccbb;
  border: 4px dashed #7d9572;
  color: #10130f;
}

/* line 211, site.scss */
.equals-tile {
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: 10rem;
  margin: 4.5rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
}
/* line 116, site.scss */
.equals-tile:hover {
  background-color: transparent;
  color: #37291a;
  border: initial;
}
/* line 223, site.scss */
.equals-tile .equals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* line 228, site.scss */
.result-tile {
  position: relative;
  font-size: 4.5rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: 10rem;
  margin: 2rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
}
/* line 116, site.scss */
.result-tile:hover {
  background-color: transparent;
  color: #37291a;
  border: initial;
}
/* line 240, site.scss */
.result-tile .result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
