@import "helpers";
@import "fonts";
@import "dragula";

/* Variables */
$font-montserrat: 'Montserrat', sans-serif;
$font-droidsans: 'Droid Sans', sans-serif;
$color-wood: #ede3d9;
$color-wood-invert: invert($color-wood);
$color-marble: #9597a1;
$color-fern: #a2b1a6;

$base-font: $font-montserrat;
$base-font-size: 14px;
$base-space-between: 1rem;

$tile-transition-duration: 75ms;

$tile-background: lighten($color-wood, 2%);
$tile-color: darken($tile-background, 75%);
$tile-size: 10rem;
$tile-font-size: $tile-size * 0.45;
$tile-border-width: 4px;
$tile-border-radius: 6px;
$tile-space-between: $base-space-between * 2;
$tile-hover-background: darken($tile-background, 5%);
$tile-hover-border-color: darken($tile-background, 25%);
$tile-hover-font-size: $tile-font-size * 1.15;
$tile-active-background: lighten(invert($tile-color), 10%);

$operator-size: 6rem;
$operator-color: #879093;
$operator-space-between: $base-space-between / 2;

html {
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $base-font;
}

h1 {
  font-size: 4rem;
  color: $tile-color;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
}

section.instructions {
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 1.3rem;
  word-spacing: 0.08rem;
  color: lighten($tile-color, 10%);
  background: lighten($tile-background, 0%);
  padding: 10px 50px;
  border-radius: 8px;

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

section.instructions + section.game {
  margin-top: 3rem;
  padding: 1rem;
}

section.game {
  font-family: $font-droidsans;
  background: lighten($tile-background, 20%);
  padding: 1.43rem;
  border-radius: $tile-border-radius;
}

code {
  padding: 2px 4px;
  font-size: inherit;
  color: $tile-color;
  border-radius: 4px;
  @include space-between($base-space-between / 4);
}

.drop-container {
  position: relative;
}

@mixin tile($background-color: initial, $hover-background-color: $background-color, $color: initial, $width: initial, $height: initial, $margin: initial, $border: initial, $border-radius: initial, $font-size: inherit, $font-family: inherit, $font-weight: inherit, $hover-border: initial, $hover-color: initial) {
    position: relative;
    font-size: $tile-font-size;
    cursor: pointer;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $color;
    width: $width;
    height: $height;
    margin: $margin;
    border: $border;
    border-radius: $border-radius;
    background-color: $background-color;
    transition: background-color $tile-transition-duration ease-out;
    transition: font-size $tile-transition-duration ease-in-out;

    &:hover {
      background-color: $hover-background-color;
      color: $hover-color;
      border: $hover-border;
    }
}

@mixin tile-inner($background-color, $color) {
    @include center-via-transform-translate();
    font-size: inherit;
    font-weight: inherit;
    background-color: $background-color;
    color: $color;
    transition: inherit;
}

.operator-tile {
  @include tile(
  $hover-background-color: lighten(#879093, 30%),
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $operator-color,
  $width: $operator-size,
  $height: $operator-size,
  $margin: $operator-space-between,
  $border: $tile-border-width dashed transparent,
  $border-radius: 50%,
  $hover-border: $tile-border-width dashed lighten(#879093, 15%),
  $hover-color: darken(#879093, 25%)
  );

  .operator {
    @include tile-inner(
    $background-color: transparent,
    $color: $tile-color
    );
  }

  &:hover .operator {
   font-size: $tile-hover-font-size;
   color: inherit;
  }

  &:active {
    background: lighten(#879093, 15%);
    border: $tile-border-width dashed lighten(#879093, 0%);

    .operator {
      font-size: $tile-hover-font-size * 1.2;
    }
  }
}

.number-tile {
  @include space-between($tile-space-between);
  @include tile(
  $background-color: $tile-background,
  $hover-background-color: $tile-hover-background,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $width: $tile-size,
  $height: $tile-size,
  $margin: $operator-space-between,
  $border: $tile-border-width dashed transparent,
  $border-radius: $tile-border-radius,
  $hover-border: $tile-border-width dashed $tile-hover-border-color,
  $hover-color: $tile-color
  );

  .number {
    @include tile-inner(
    $background-color: transparent,
    $color: inherit
    );
  }

  &:hover .number {
    font-size: $tile-hover-font-size;
    color: inherit;
  }

  &.selected {
    background-color: $tile-active-background;
    border: $tile-border-width dashed darken($tile-active-background, 25%);
    color: darken($tile-active-background, 70%);
  }
}

.equals-tile {
  @include tile(
  $background-color: transparent,
  $font-size: $tile-font-size * 1.2,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $height: $tile-size,
  $margin: 4.5rem,
  $hover-color: $tile-color
  );

  .equals {
    @include center-via-transform-translate();
  }
}

.result-tile {
  @include tile(
  $background-color: transparent,
  $font-size: $tile-font-size * 1.2,
  $font-family: $font-montserrat,
  $font-weight: 400,
  $color: $tile-color,
  $height: $tile-size,
  $margin: 2rem,
  $hover-color: $tile-color
  );

  .result {
    @include center-via-transform-translate();
  }
}