@import "fonts";

$site-container-width: 768px;

.container {
    width: 768px;
    margin: 0 auto;

    header {
        font-family: 'Montserrat', sans-serif;

        .centered {
            text-align: center;
        }
    }
}